<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @model001.object %>
    <h1>Edit <%= @model001.service_request_id%></h1>
    <%= link_to "Delete", :action => :delete, :id => @model001.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @model001.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Service request: </td>
              <td class="itemValue"><input type="text" name="model001[service_request_id]" value="<%= @model001.service_request_id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Requested datetime: </td>
              <td class="itemValue"><input type="text" name="model001[requested_datetime]" value="<%= @model001.requested_datetime %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Address: </td>
              <td class="itemValue"><input type="text" name="model001[address]" value="<%= @model001.address %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
