<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @model001.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @model001.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="model001[service_request_id]" class="fieldLabel">Service request</label>
            <input type="text" id="model001[service_request_id]" name="model001[service_request_id]" <%= placeholder("Service request") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="model001[requested_datetime]" class="fieldLabel">Requested datetime</label>
            <input type="text" id="model001[requested_datetime]" name="model001[requested_datetime]" <%= placeholder("Requested datetime") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="model001[address]" class="fieldLabel">Address</label>
            <input type="text" id="model001[address]" name="model001[address]" <%= placeholder("Address") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
