<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @model001.service_request_id %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @model001.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">ServiceRequestId</div>
            <div class="itemValue"><%= @model001.service_request_id %></div>
          </li>
      
          <li>
            <div class="itemLabel">RequestedDatetime</div>
            <div class="itemValue"><%= @model001.requested_datetime %></div>
          </li>
      
          <li>
            <div class="itemLabel">Address</div>
            <div class="itemValue"><%= @model001.address %></div>
          </li>
      
    </ul>
  </div>

</div>
